In [1]:
sample_text = """
TFC0KUOM4A 2025-06-12 15:25:52 Customer Transfer of Funds Charge Completed -13.00 21,682.02
TFC0KUOM4A 2025-06-12 15:25:52 Customer Transfer to - 2547******109 MATTHEW KINYUA Completed -529.00 21,695.02
TFC6JLAWHW 2025-06-12 10:27:39 Customer Transfer of Funds Charge Completed -105.00 22,224.02
TFC6JLAWHW 2025-06-12 10:27:39 Customer Transfer to - 2547******236 ELIUD GATUOTA Completed -17,500.00 22,329.02
TFC5JFJIQ3 2025-06-12 09:48:52 OD Loan Repayment to 232323 - M-PESA Overdraw Completed -10,170.98 39,829.02
TFC1JFJUDZ 2025-06-12 09:48:52 Business Payment from 3035517 - AIB-AXYS AFRICA LIMITED via API. Original conversation ID is CV025102902112601. Completed 50,000.00 50,000.00
TFA19LLIM5 2025-06-10 08:08:01 Business Payment from 505101 - Safaricom SACCO FOSA Withdrawals account via API. Original conversation ID is 48342999950931028179FE0937F5. Completed 49,000.00 49,000.00
"""

In [2]:
import re
import pandas as pd

pattern = re.compile(
    r"(\S+)\s+"                          # Receipt No.
    r"(\d{4}-\d{2}-\d{2})\s+"           # Date
    r"(\d{2}:\d{2}:\d{2})\s+"           # Time
    r"([\s\S]*?)\s+"                    # Details (non-greedy, multiline-safe)
    r"Completed\s+"                     # Status
    r"([0-9.,-]*)\s+"                   # Paid In
    r"([0-9.,-]*)\s+"                   # Withdrawn
    r"([0-9.,-]*)",                     # Balance
    re.DOTALL
)

matches = pattern.findall(sample_text)

# Process into DataFrame
columns = ['Receipt No.', 'Date', 'Time', 'Details', 'Paid In', 'Withdrawn', 'Balance']
data = []

for m in matches:
    receipt, date, time, details, paid_in, withdrawn, balance = m
    details_clean = " ".join(details.strip().split())
    data.append([
        receipt,
        f"{date} {time}",
        details_clean,
        float(paid_in.replace(",", "")) if paid_in else 0.0,
        float(withdrawn.replace(",", "")) if withdrawn else 0.0,
        float(balance.replace(",", "")) if balance else 0.0
    ])

df = pd.DataFrame(data, columns=['Receipt No.', 'Timestamp', 'Details', 'Paid In', 'Withdrawn', 'Balance'])
print(df)

  Receipt No.            Timestamp  \
0  TFC0KUOM4A  2025-06-12 15:25:52
1  TFC0KUOM4A  2025-06-12 15:25:52
2  TFC6JLAWHW  2025-06-12 10:27:39
3  TFC6JLAWHW  2025-06-12 10:27:39
4  TFC5JFJIQ3  2025-06-12 09:48:52
5  TFC1JFJUDZ  2025-06-12 09:48:52
6  TFA19LLIM5  2025-06-10 08:08:01

                                             Details   Paid In  Withdrawn  \
0                  Customer Transfer of Funds Charge    -13.00   21682.02
1  Customer Transfer to - 2547******109 MATTHEW K...   -529.00   21695.02
2                  Customer Transfer of Funds Charge   -105.00   22224.02
3  Customer Transfer to - 2547******236 ELIUD GAT... -17500.00   22329.02
4      OD Loan Repayment to 232323 - M-PESA Overdraw -10170.98   39829.02
5  Business Payment from 3035517 - AIB-AXYS AFRIC...  50000.00   50000.00
6  Business Payment from 505101 - Safaricom SACCO...  49000.00   49000.00

   Balance
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0

In [3]:
df

,Receipt No.,Timestamp,Details,Paid In,Withdrawn,Balance
0,TFC0KUOM4A,2025-06-12 15:25:52,Customer Transfer of Funds Charge,-13.00,21682.02,0.0
1,TFC0KUOM4A,2025-06-12 15:25:52,Customer Transfer to - 2547******109 MATTHEW K...,-529.00,21695.02,0.0
2,TFC6JLAWHW,2025-06-12 10:27:39,Customer Transfer of Funds Charge,-105.00,22224.02,0.0
3,TFC6JLAWHW,2025-06-12 10:27:39,Customer Transfer to - 2547******236 ELIUD GAT...,-17500.00,22329.02,0.0
4,TFC5JFJIQ3,2025-06-12 09:48:52,OD Loan Repayment to 232323 - M-PESA Overdraw,-10170.98,39829.02,0.0
5,TFC1JFJUDZ,2025-06-12 09:48:52,Business Payment from 3035517 - AIB-AXYS AFRIC...,50000.00,50000.00,0.0
6,TFA19LLIM5,2025-06-10 08:08:01,Business Payment from 505101 - Safaricom SACCO...,49000.00,49000.00,0.0

In [6]:
import re
import pandas as pd

sample_text = """
TFC0KUOM4A 2025-06-12 15:25:52 Customer Transfer of Funds 
Charge Completed -13.00 21,682.02
TFC0KUOM4A 2025-06-12 15:25:52 Customer Transfer to - 2547******109 MATTHEW KINYUA Completed -529.00 21,695.02
TFC6JLAWHW 2025-06-12 10:27:39 Customer Transfer of Funds Charge Completed -105.00 22,224.02
TFC6JLAWHW 2025-06-12 10:27:39 Customer Transfer to - 2547******236 ELIUD GATUOTA Completed -17,500.00 22,329.02
TFC5JFJIQ3 2025-06-12 09:48:52 OD Loan Repayment to 232323 - M-PESA Overdraw Completed -10,170.98 39,829.02
TFC1JFJUDZ 2025-06-12 09:48:52 Business Payment from 3035517 - AIB-AXYS AFRICA LIMITED via API. Original conversation ID is CV025102902112601. Completed 50,000.00 50,000.00
TFA19LLIM5 2025-06-10 08:08:01 Business Payment from 505101 - Safaricom SACCO FOSA Withdrawals account via API. Original conversation ID is 48342999950931028179FE0937F5. Completed 49,000.00 49,000.00
"""

# Updated regex: 2 or 3 numeric fields after 'Completed'
pattern = re.compile(
    r"(\S+)\s+"                          # Receipt No.
    r"(\d{4}-\d{2}-\d{2})\s+"           # Date
    r"(\d{2}:\d{2}:\d{2})\s+"           # Time
    r"([\s\S]*?)\s+"                    # Details (non-greedy)
    r"Completed\s+"
    r"(-?[0-9.,]+)\s+"                  # Amount 1 (always present)
    r"(-?[0-9.,]+)?\s*"                 # Optional Amount 2
    r"(-?[0-9.,]+)?",                   # Optional Amount 3
    re.DOTALL
)

matches = pattern.findall(sample_text)

# Parse matches
columns = ['Receipt No.', 'Timestamp', 'Details', 'Paid In', 'Withdrawn', 'Balance']
data = []

for m in matches:
    receipt, date, time, details, amt1, amt2, amt3 = m
    details_clean = " ".join(details.strip().split())
    amounts = [amt1, amt2, amt3]
    amounts = [float(a.replace(",", "")) if a else 0.0 for a in amounts]

    # Assign amounts based on sign of first
    if amounts[0] >= 0:
        paid_in = amounts[0]
        withdrawn = amounts[1] if amt2 else 0.0
        balance = amounts[2] if amt3 else (amounts[1] if amt2 else 0.0)
    else:
        paid_in = 0.0
        withdrawn = abs(amounts[0])
        balance = amounts[1] if amt2 else 0.0

    data.append([
        receipt,
        f"{date} {time}",
        details_clean,
        paid_in,
        withdrawn,
        balance
    ])

df = pd.DataFrame(data, columns=columns)
print(df)

  Receipt No.            Timestamp  \
0  TFC0KUOM4A  2025-06-12 15:25:52
1  TFC0KUOM4A  2025-06-12 15:25:52
2  TFC6JLAWHW  2025-06-12 10:27:39
3  TFC6JLAWHW  2025-06-12 10:27:39
4  TFC5JFJIQ3  2025-06-12 09:48:52
5  TFC1JFJUDZ  2025-06-12 09:48:52
6  TFA19LLIM5  2025-06-10 08:08:01

                                             Details  Paid In  Withdrawn  \
0                  Customer Transfer of Funds Charge      0.0      13.00
1  Customer Transfer to - 2547******109 MATTHEW K...      0.0     529.00
2                  Customer Transfer of Funds Charge      0.0     105.00
3  Customer Transfer to - 2547******236 ELIUD GAT...      0.0   17500.00
4      OD Loan Repayment to 232323 - M-PESA Overdraw      0.0   10170.98
5  Business Payment from 3035517 - AIB-AXYS AFRIC...  50000.0   50000.00
6  Business Payment from 505101 - Safaricom SACCO...  49000.0   49000.00

    Balance
0  21682.02
1  21695.02
2  22224.02
3  22329.02
4  39829.02
5  50000.00
6  49000.00

In [5]:
df

,Receipt No.,Timestamp,Details,Paid In,Withdrawn,Balance
0,TFC0KUOM4A,2025-06-12 15:25:52,Customer Transfer of Funds Charge,0.0,13.00,21682.02
1,TFC0KUOM4A,2025-06-12 15:25:52,Customer Transfer to - 2547******109 MATTHEW K...,0.0,529.00,21695.02
2,TFC6JLAWHW,2025-06-12 10:27:39,Customer Transfer of Funds Charge,0.0,105.00,22224.02
3,TFC6JLAWHW,2025-06-12 10:27:39,Customer Transfer to - 2547******236 ELIUD GAT...,0.0,17500.00,22329.02
4,TFC5JFJIQ3,2025-06-12 09:48:52,OD Loan Repayment to 232323 - M-PESA Overdraw,0.0,10170.98,39829.02
5,TFC1JFJUDZ,2025-06-12 09:48:52,Business Payment from 3035517 - AIB-AXYS AFRIC...,50000.0,50000.00,50000.00
6,TFA19LLIM5,2025-06-10 08:08:01,Business Payment from 505101 - Safaricom SACCO...,49000.0,49000.00,49000.00

In [5]:
import plotly.express as px

fig = px.bar(x=["A", "B", "C"], y=[10, 20, 30])
fig.write_image("test_chart.png")

In [4]:
pip install plotly kaleido --upgrade

^C
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly in e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages (5.23.0)
Collecting plotly
  Downloading plotly-6.1.2-py3-none-any.whl (16.3 MB)
Requirement already satisfied: kaleido in e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages (0.2.1)
Requirement already satisfied: packaging in e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages (from plotly) (24.1)
Collecting narwhals>=1.15.1
  Downloading narwhals-1.42.1-py3-none-any.whl (359 kB)
Installing collected packages: narwhals, plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.23.0
    Uninstalling plotly-5.23.0:
      Successfully uninstalled plotly-5.23.0
Successfully installed narwhals-1.42.1 plotly-6.1.2

WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
    WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (e:\onedrive - m-pesa.africa\100human2024\kobo\kobo_venv\lib\site-packages)
WARNING: You are using pip version 21.2.3; however, version 25.1.1 is available.
You should consider upgrading via the 'E:\OneDrive - M-pesa.Africa\100Human2024\Kobo\kobo_venv\Scripts\python.exe -m pip install --upgrade pip' command.